@import url('/css/styles.css');
@media only screen and (max-width: 600px) {

    body {
        max-width: 100%;
    }

    header {
        padding: 1rem;
        width: 100%;
    }

    nav {
        display: none;
        padding: 1rem;
        flex-direction: column;
        background-color: white;
        z-index: 2;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        align-items: center;
        text-align: center;
        position: inherit;
    }


    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: .9rem;
    }
     
    .desktop-logo {
        display: none;
    }

    .dropdown-hover {
        color: var(--body-text);
        opacity: 1;
        font-weight: 700;
        align-items: center;
    }

    .dropdown {
       width: 100%;
       padding: 0;
    }

    .dropdown-nav {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: static;
        z-index: 0;
        background-color: inherit;
        box-shadow: none;
        transition: all 0.8s ease;
    }
      
   .active {
    background-color: gainsboro;
   }

   .arrow-active{
       transform: rotate(180deg);
   }

    .sign-up {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin-top: 20px;
    }

    .login-btn {
        color: var(--body-text);
        opacity: 1;
    }

    .signup-btn {
        background-color: var(--cta-hover-color);
        color: white;
        opacity: 1;
    }

    .banner {
        text-align: center;
    }

    .buttons > a {
        text-decoration: none;
        padding: 10px 15px;
    }
    
    .section {
        flex-direction: column-reverse;
        max-width: 100%;
        padding: 1rem;
        margin-bottom: 150px;
        gap: 20px;
    }

    .top-section {
        margin-top: 25px;
    }

    .title-section {
        padding: 1rem;
        text-align: center;
    }

    .secondary-title {
        font-size: 1.5rem;
    }

    .section-subtitle,
    .main-text {
        text-align: center;
    }

    .section-subtitle {
        font-size: 1.5rem;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        padding: 45px 0;
    }
    
    .second-section {
        margin-top: 25px;
        padding: 2rem 1.5rem 2rem 1.5rem;
        background-position: -100px -200px;

    }

    .container {
        flex-direction: column;
    }
     
    .phones-mobile {
        margin-top: -180px;

    }

    .inner-title {
        text-align: center;
        font-size: 2rem;
    }

    .inner-text {
        text-align: center;
        font-size: .9rem;
        font-weight: 300;
        max-width: 35ch;
        margin: 0 auto;
    }

    .third-section {
        padding: 1rem;
        margin-top: 50px;
    }

    .container-mobile {
        margin-top: 0;
    }

    footer {
        padding: 1rem;
    }

    .footer-nav {
        flex-direction: column;
        flex-wrap: nowrap;
    }

  }