:root {
   --cta-text-color: hsl(356, 100%, 66%);
   --cta-hover-color: hsl(355, 100%, 74%);
   --headings-color: hsl(208, 49%, 24%);
   --text-color: hsl(0, 0%, 100%);
   --footer-text: hsl(240, 2%, 79%);
   --body-text: hsl(207, 13%, 34%);
   --footer-background: hsl(240, 10%, 16%);
   --backgorund-gradient-intro: hsl(13, 100%, 72%), hsl(353, 100%, 62%);
   --background-gradient-body: hsl(237, 17%, 21%), hsl(237, 23%, 32%);
}
@import url('/css/fonts.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html {
    height: 100%;
    background-color: rgb(235, 235, 235);

}

body {
    width: 100%;
    font-family: 'Overpass', sans-serif;
}

/* Header styles */

header {
    max-width: 100%;
    background: url('/images/bg-pattern-intro.svg') no-repeat center, linear-gradient(120deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: cover;
    padding: 50px;
    border-bottom-left-radius: 100px;
    
}

nav {
    display: flex;
    padding: 20px 150px 80px 150px;
}


.logo-container {
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.logo {
    width: 100%;
}

.dropdown {
    padding: 10px;
}

.dropdown-hover {
   margin: 0;
   padding: 0;
   text-decoration: none;
   color: var(--text-color);
   opacity: 0.7;
   display: flex;
   gap: 10px;
   font-weight: 500;
   transition: all 0.3s ease;
}

.dropdown-hover:hover {
    text-decoration: underline;
    opacity: 1;
}
.dropdown-nav {
    display: none;
    transition: all 0.3s ease;
}

.dropdown-hover:hover .arrow{
    transform: rotate(180deg);
}

.dropdown:hover .dropdown-nav {
    display: block;
}

.arrow {
    transition: all 0.3s ease;
}

.dropdown-nav {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    padding: 10px;
    line-height: 2.5;
    border-radius: 5px;
    margin-top: 5px;
    transition: all 0.3s ease;
}

.nav-link {
    text-decoration: none;
    color: var(--body-text);
    transition: all 0.3s ease;
}

.nav-link:hover {
    font-weight: bold;
}

.sign-up {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 20px;
    list-style: none;
}

.sign-up a {
    text-decoration: none;
    padding: 10px 25px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.login-btn {
    color: var(--text-color);
    opacity: 0.7;
    transition: all 0.3s ease;
}

.login-btn:hover {
    opacity: 1;
}

.signup-btn {
    color: var(--cta-text-color);
    background: var(--text-color);
    border-radius: 20px;
}

.signup-btn:hover {
    color: var(--text-color);
    background: var(--cta-hover-color);
}

.icon {
    display: none;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: var(--text-color);
}

.title {
    font-size: 3rem;
    padding: 10px;
}

.subtitle {
    font-size: 1rem;
    padding: 5px;
    font-weight: 300;
}

.buttons {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.buttons > a {
    text-decoration: none;
    padding: 10px 25px;
}

.start-btn {
    background: var(--text-color);
    color: var(--cta-text-color);
    border-radius: 20px;
    transition: all 0.3s ease;
}

.start-btn:hover {
    color: var(--text-color);
    background: var(--cta-hover-color);
}

.learn-more-btn {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 20px;
    transition: all 0.3s ease;
}

.learn-more-btn:hover{
    background: var(--text-color);
    color: var(--cta-text-color);
}

/* Section one styles  */

.section {
    display: flex;
    gap: 20px;
    padding: 20px 150px 80px 150px;
}

.text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.img-container {
    width: 100%;
}

.img-container > img {
    max-width: 100%;
}

.mobile {
    display: none;
}

.title-section {
    display: flex;
    justify-content: center;
    padding: 50px 150px 20px 150px;
    margin-bottom: 20px;
}

.secondary-title{
    font-size: 2rem;
    color: var(--headings-color);
}

.section-subtitle {
    color: var(--headings-color);
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.text {
    padding: 20px;
}

.main-text {
    color: var(--body-text);
    line-height: 1.5;
}

/* Section two styles  */

.second-section {
    padding: 20px 150px 20px 150px;
    background: url('/images/bg-pattern-circles.svg') no-repeat, hsl(237, 17%, 21%);
    background-position: -400px -650px;
    background-size: cover;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.container {
    display: flex;
    margin-top: -80px;
}

.inner-title {
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: 1.7rem;
}

.inner-text {
    color: var(--text-color);
    line-height: 1.5;
}

/* Section three styles */

.third-section {
    padding: 80px 150px 80px 150px;
    margin-top: 100px;
}

.text {
    width: 100%;
}

/* Footer styles */

footer {
    padding: 20px 150px 10px 150px;
    background: var(--footer-background);
    border-top-right-radius: 100px;

}

.footer-nav {
    display: flex;
}

.nav-column {
    width: 100%;
    padding: 25px;
}

.footer-nav-link_main,
.footer-nav-link_sub {
    color: var(--footer-text);
    text-decoration: none;
    font-size: .9rem;
}

.footer-nav-link_main {
    font-weight: 700;
}

.footer-nav-link_sub:hover {
    text-decoration: underline;
    transition: all 0.3s ease;

}


.footer-nav-links {
    list-style: none;
    margin-top: 25px;
}

.footer-nav-links > li {
    line-height: 2;

}

.footer-logo {
    width: 50%;
    padding: 20px;
    align-self: auto;
}